<!--<h1>Welcome to my page</h1>-->

<!--<%= link_to image_tag('diraclogo.png'), 'www.diracsol.com' %>-->

<!--<%= link_to 'About', about_path %>-->
<!--<%= link_to "Alpha Blog", articles_path %>-->
<div class="position_center jumbotron">
  
  
</div>