$navbar-default-bg: #d32d21;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float:left;
  font-size:1.7em;
  color: #fff;
  text-transform:uppercase;
  letter-spacing:-1px;
  font-weight:bold;
  
}

#logo.hover{
  color: #fff;
  text-decoration:none;
}

.position_center{
  text-align:center;
}
.jumbotron{
  background-image: asset_url('rubyonrails.jpg');
  background-size:cover;
  height:400px;
}

.h1_class
{
  color:#08088A;
  text-align:center;
  margin-bottom:1px;
  letter-spacing: -1px;
  
}

.btn-xlarge{
  font-size:1.7em;
  background-color:black;
  text-align:center;
  float:center;
}

.article-actions {

    border-top: 1px solid #eaeaea;
    
    padding-top: 5px;

}

.description {

    margin-top: 0;

}

.article-meta-details {

  border-top: 1px solid #eaeaea;
  
  margin-top: 15px;

}